body {
    font-family: Arial, sans-serif;
}

#scatterplot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

text {
    font-size: 12px;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 5px;
    border-radius: 3px;
}
